---
import { cn } from "@lib/utils";
import Container from "./Container.astro";
import {progress} from "@tailus/themer-progress"
---

<section>
    <Container>
        <div class="text-center">
            <h2 class="text-3xl text-gray-950 dark:text-white font-semibold md:text-4xl">Invest in Brazil</h2>
            <p class="mt-4 text-gray-600 dark:text-gray-400">Discover the advantages and investment opportunities by region and sectors in Brazil.</p>
        </div>
        <div class="my-12 p-[--card-padding] overflow-hidden lg:aspect-video flex rounded-[--card-border-radius] bg-gray-100 dark:bg-[--card-dark-bg]">
            <div class="max-w-3xl w-full h-fit m-auto space-y-12">
                <div>
                    <h3 class="text-2xl font-bold text-gray-600 dark:text-gray-400">
                        <span class="text-gray-950 dark:text-white">Brazil is the largest economy in Latin America, the second in Americas, </span>
                        and is among the top 10 economies in the world.
                    </h3>
                </div>
                <div class="space-y-6">
                    <div>
                        <div class={progress.root}>
                            <div class={cn(progress.indicator.gradient, "w-[35%] from-primary-600 to-accent-300")}></div>
                        </div>
                        <div class={progress.message}>Agribusiness 35%</div>
                    </div>
                    <div>
                        <div class={progress.root}>
                            <div class={cn(progress.indicator.gradient, "w-[22%] from-primary-600 to-accent-300")}></div>
                        </div>
                        <div class={progress.message}>Mining & Natural Resources 22%</div>
                    </div>
                    <div>
                        <div class={progress.root}>
                            <div class={cn(progress.indicator.gradient, "w-[17%] from-primary-600 to-accent-300")}></div>
                        </div>
                        <div class={progress.message}>Renewable Energy 17%</div>
                    </div>
                    <div>
                        <div class={progress.root}>
                            <div class={cn(progress.indicator.gradient, "w-[14%] from-primary-600 to-accent-300")}></div>
                        </div>
                        <div class={progress.message}>Healthcare & Pharmaceuticals 14%</div>
                    </div>
                    <div>
                        <div class={progress.root}>
                            <div class={cn(progress.indicator.gradient, "w-[12%] from-primary-600 to-accent-300")}></div>
                        </div>
                        <div class={progress.message}>Technology & Innovation 12%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid sm:grid-cols-2 gap-4 sm:gap-12 max-w-3xl w-full mx-auto">
            <div>
                <h3 class="text-gray-950 dark:text-white text-2xl font-semibold">A Global Destination for Investment</h3>
            </div>
            <div class="space-y-3">
                <p class="text-gray-600 dark:text-gray-400">Leading Regional Economy (USD 1,608,981.22 GDP*), <span class="text-gray-950 dark:text-white font-medium">USD 86 billion FDI Inflow*,</span> World FDI recipient (5th*)</p>
                <p class="text-gray-600 dark:text-gray-600">* 2022</p>
            </div>
        </div>
    </Container>
</section>